<link rel="stylesheet" href="page-not-found.component.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="main_container">
    <div class="container">
        <h2>Oops! Something went wrong.</h2>
        <h1>404</h1>
        <p style="font-size:25px ;color:darkred">We are unable to reach the page you are looking for.</p>
        <a style="font-size:20px;color:indigo" href="page-not-found.component.html">Go Back to Home Page</a>
    </div>
</div>